.reloadButton {
  margin-left: 20;
  float: right;
}

.recentBlocks {
  margin-top: 14px;
  @include themify($themes) {
    color: themed('colorText');
  }

  tbody tr:hover td {
    @include themify($themes) {
      color: themed('colorText');
    }
  }

  font-size: 15px;
  td {
    vertical-align: middle;
  }

  .recentBlocksRows {
    td.blockId {
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &.table-hover tbody tr:hover {
    @include themify($themes) {
      color: themed('colorText');
    }
  }

  .hideShowButtonArea {
    text-align: center;
    .toggleButton {
      width: 160px;
      padding-right: 0;
      padding-left: 0;
      margin-bottom: 0;
      float: none;
      margin-left: auto;
      margin-right: auto;

      .hideShowButtonText {
        width: 140px;
      }
    }
  }

  .blocksOutputArea {
    display: 'flex';
    flex-direction: 'row';
    align-items: 'center';
    justify-content: 'space-between';

    .downloadBlockOutputButton {
      cursor: pointer;
    }
  }

  .richardContractTitleArea {
    padding-top: 14;
    padding-bottom: 14;
  }
}